<html>
  <head>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/index.css') }}"
    />

    <!link rel="stylesheet" type="text/css" href="index.css" />
    <title>Ratings</title>
  </head>
  <body>
    <section>
      <div class="ratings-box">
        <div class="form-value">
          <h2>Your age is {{ age }}</h2>
          <h3>You can see these rated films</h3>
          <div class="images-box">
            <img src="static\css\U.png" height="100" width="100" />
          </div>
        </div>
        <div class="button-box-2">
            <form action="/films" method="get">
              <button type="submit" class="home-button">View Films</button>
            </form>
          </div>
          <div class="button-box">
            <form action="/" method="get">
              <button type="submit" class="home-button">Back To Home</button>
            </form>
      </div>
    </section>
  </body>
</html>
